/* PROJECTS SECTION */
.projects-section {
  position: relative;
  height: 80vh;
  min-height: 400px;
  margin: 0 30px;
  margin-top: 150px;
}

.project-text-p1 {
  text-align: center;
  font-weight: 600;
}

.project-up-title {
  font-size: 2.9rem;
  margin-bottom: 15px;
  text-align: center;
}

.experience-details-container-project {
  margin: auto;
  align-items: center;
}

.project-containers {
  margin-top: 10%;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.slick-slide {
  padding-left: 15px;
}


.slick-slide img {
  display: inline;
  min-height: 300px;
}

.details-container-project {
  min-height: 450px;
  padding: 0rem;
  padding-top: 0.5rem;
  min-width: 340px;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.article-containe {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.project-img {
  border-radius: 2rem;
  height: 100%;
  width: 85%;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.experience-sub-title {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0.5rem;
  color: black;
}

.article-container {
  padding: -1rem;
  gap: 1rem;
}